<h2 class="work">Work</h2>
<ibm-structured-list [border]="false" [condensed]="false" [nowrap]="false">
  <ibm-list-header>
    <ibm-list-column nowrap="true">Dates</ibm-list-column>
    <ibm-list-column nowrap="true">Job Title</ibm-list-column>
    <ibm-list-column>Objectives and Results</ibm-list-column>
  </ibm-list-header>
  <ibm-list-row>
    <ibm-list-column>Now and then</ibm-list-column>
    <ibm-list-column nowrap="true">Row One</ibm-list-column>
    <ibm-list-column>
      Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Nunc dui magna,
      finibus id tortor sed, aliquet bibendum augue.
      Aenean posuere sem vel euismod dignissim. Nulla ut cursus dolor.
      Pellentesque vulputate nisl a porttitor interdum.
    </ibm-list-column>
  </ibm-list-row>
  <ibm-list-row>
    <ibm-list-column>Row 2</ibm-list-column>
    <ibm-list-column nowrap="true">Row Two</ibm-list-column>
    <ibm-list-column>
      Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Nunc dui magna,
      finibus id tortor sed, aliquet bibendum augue.
      Aenean posuere sem vel euismod dignissim. Nulla ut cursus dolor.
      Pellentesque vulputate nisl a porttitor interdum.
    </ibm-list-column>
  </ibm-list-row>
</ibm-structured-list>
